body {
  margin: 0;
  font-family: "hahmlet";
  background-color: rgb(228, 197, 220);
}
a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}
.hamb {
  position: absolute;
  right: 20px;
  color: white;
  padding-top: 8px;
  display: none;
}
.hamb i {
  font-size: 20px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #263343;
  align-items: center;
  padding: 0 12px;
}
.nav_logo {
  color: white;
  font-size: 24px;
}
.nav_logo i {
  padding-right: 12px;
}
.nav_menu {
  display: flex;
  padding: 0;
  list-style: none;
}
.nav_menu li {
  padding: 4px 12px;
}
.nav_menu li:hover {
  background-color: #d49466;
  border-radius: 4px;
}
.nav_links {
  display: flex;
}
.nav_links i {
  padding: 8px 12px;
}
@media screen and (max-width: 750px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .nav_menu {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .nav_links {
    padding: 0;
    justify-content: center;
    width: 100%;
  }
  .hamb {
    display: flex;
  }
  .nav_menu li {
    width: 100%;
    text-align: center;
  }
}
